{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page_title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index-page.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.svg' %}"/>
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src={% static "js/main.js" %}></script>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="{% url 'index' %}" class="logo">Кинопоиск</a>
        <form method="get" action="{% url 'index' %}">
          <input type="text" name="search" id="search" placeholder="Поиск...">
        </form>
        <div class="user">
          {% if user.is_authenticated %}
            <div class="user_profile p1">
              <a class="user_link" href="{% url 'users:profile' %}">{{ user.username }}</a>
              <div class="submenu">
                {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" target="_blank">Админ панель</a>
                {% endif %}
                <a href="{% url 'users:logout' %}">Выйти</a>
              </div>
            </div>
          {% else %}
            <a href="{% url 'users:login' %}" class="user_auth p1">Войти</a>
          {% endif %}
        </div>
      </div>
    </header>
    {% block main %}

    {% endblock %}
    <footer class="footer">
      <a href="{% url 'index' %}" class="logo">Кинопоиск</a>
    </footer>
  </body>
</html>
