{% if films or persons %}
  <div class="films">
    {% if search %}
      <h2>Результат поиска: {{ search }}</h2>
    {% endif %}
    {% for film in films %}
      <a href="{% url 'kino:film' film.id %}" class="film">
        <img src="{{ film.image.url }}" class="image" alt="" />
        <div class="film__info">
          <h4 class="name">{{ film.name }}</h4>
          <div class="times p3">{{ film.year }}, {{ film.duration }} мин.</div>
          <div class="genre p3">
            {% for genre in film.genres.all %}
              {{ genre.name }}
              {% if not forloop.last %}, {% endif %}
            {% endfor %}
          </div>
          <div class="country p3">Страна: {{ film.country }}</div>
        </div>
        <div class="film__rating">
          <div class="votes p3">Оценок: {{ film.count_film_votes }}</div>
          <div class="average h4">Рейтинг: {{ film.get_average_rating }}/10</div>
        </div>
      </a>
    {% endfor %}
    {% if films.has_other_pages %}
      {{ request.GET.search }}
      <nav class="pagination">
        <ul>
          {% if films.has_previous %}
            <li class="page-number">
              <a href="/page/{{ films.previous_page_number }}">Предыдущая страница</a>
            </li>
          {% endif %}
          {% for p in films.paginator.page_range %}
            <li>
              {% if films.number == p %}
                <span class="page-number">{{ p }}</span>
              {% elif p >= films.number|add:'-2' and p <= films.number|add:'2' %}
                <a class="page_number" href="/page/{{ p }}">{{ p }}</a>
              {% endif %}
            </li>
          {% endfor %}
          {% if films.has_next %}
            <li class="page-number">
              <a href="/page/{{ films.next_page_number }}">Следующая страница</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}

    {% if persons %}
      <div class="h2 person-title">Люди:</div>
      {% for person in persons %}
        <a class="h3" href="{% url 'kino:person' person.id %}">{{ person.name }}</a>
      {% endfor %}
    {% endif %}
  </div>
{% else %}
  <div class="h1">Фильмов не найдено</div>
{% endif %}
