{% extends 'main/base.html' %}

{% block main %}
  <main id="main-page">
    <div class="container">
      <section class="nav">
        <a href="{% url 'index' %}">Все фильмы</a>
        <a href="{% url 'kino:genre' %}">Жанры</a>
      </section>
      <section class="content">
        {% comment %} {% include 'kino/sidebar.html' %} {% endcomment %}
        {% comment %} {% include 'kino/films.html' %} {% endcomment %}
        {% block content %}
        
        {% endblock %}
      </section>
    </div>
  </main>
{% endblock %}
