{% load kino_tags %}

<form method="GET" class="filter-form" action="{% url 'index' %}">
  {% if search %}
    <input type="hidden" name="search" value="{{ search }}" />
  {% endif %}
  {% for field in form %}
    <div class="group">
      {{ field.label_tag }}
      {{ field }}
      <input type="hidden" data-default-value="{{ field.value|default_if_none:'' }}" />
    </div>
  {% endfor %}
  <button class="btn-y" type="submit">Фильтровать</button>
  <a class="reset" href="{% url 'index' %}">Сбросить фильтр</a>
</form>
