{% extends 'kino/index.html' %}

{% block content %}
  {% if genres %}
    <div class="genres">
      {% for genre in genres %}
        <a href="{% url 'kino:genre' genre.id %}" class="genre">
          {% if genre.image %}
            <img src="{{ genre.image.url }}" alt="" />
          {% endif %}
          <div class="text">
            <div class="h4">{{ genre.name }}</div>
            <div class="p2">Фильмов: {{ genre.count_films }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
