{% extends 'kino/index.html' %}
{% load kino_tags %}

{% block content %}
  <div class="single-person-info">
    <div class="person__left">
      {% if person.image %}
        <img src="{{ person.image.url }}" alt="" />
      {% endif %}
    </div>
    <div class="person__right">
      <div class="h1 title">{{ person.name }}</div>
      <div class="about-person">
        <div class="h2 title">О персоне</div>
        <div class="attr roles">
          <div class="attr__name">Карьера</div>
          <div class="attr__value">
            {% for role in person.get_roles %}
              {{ role }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </div>
        </div>
        {% if person.birthday %}
          <div class="attr birthday">
            <div class="attr__name">Дата рождения</div>
            <div class="attr__value">{{ person.birthday }}</div>
          </div>
        {% endif %}
        {% if person.place_of_birth %}
          <div class="attr place_of_birth">
            <div class="attr__name">Место рождения</div>
            <div class="attr__value">{{ person.place_of_birth }}</div>
          </div>
        {% endif %}
        {% if person.get_genres %}
          <div class="attr genres">
            <div class="attr__name">Жанры</div>
            <div class="attr__value">
              {% for genre in person.get_genres %}
                <a href="#tabs" class="p2">{{ genre.name }}{% if not forloop.last %}, {% endif %}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        <div class="attr films">
          <div class="attr__name">Все фильмы</div>
          <div class="attr__value">
            {{ person.count_films }}, <a href="#tabs" class="p2">{{ person.get_range_of_years }}</a>
          </div>
        </div>
      </div>
      <div class="top-films">
        <h2>Лучшие фильмы</h2>
        <div class="films">
          {% for film in person.get_top_films %}
            <a href="{% url 'kino:film' film.id %}" class="p2">{{ film.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="single-person-films">
    <div class="tabs" id="tabs">
      {% for role, films in person.get_films_by_roles.items %}
        <div class="tab {% if forloop.counter == 1 %}active{% endif %}" data-role-tab="{{ forloop.counter }}">
          {{ role }}
          <span>Фильмов: {{ films|length }}</span>
        </div>
      {% endfor %}
    </div>
    <div class="films-blocks">
      {% for role, films in person.get_films_by_roles.items %}  
        <div class="film-block {% if forloop.counter == 1 %}active{% endif %}" data-role-block="{{ forloop.counter }}">
          {% for film in films %}
            <a href="{% url 'kino:film' film.id %}">
              {{ film }}
            </a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
