{% extends 'kino/index.html' %}
{% load kino_tags %}

{% block content %}
  <div class="single-person-info">
    <div class="person__left">
      {% if person.image %}
        <img src="{{ person.image.url }}" alt="" />
      {% endif %}
    </div>
    <div class="person__right">
      <div class="h1 title">{{ person.name }}</div>
      <div class="about-person">
        <div class="h2 title">О персоне</div>
        <div class="attr roles">
          <div class="attr__name">Карьера</div>
          <div class="attr__value">
            {% for role in person.get_roles %}
              {{ role }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </div>
        </div>
        {% if person.birthday %}
          <div class="attr birthday">
            <div class="attr__name">Дата рождения</div>
            <div class="attr__value">
                {{ person.birthday }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
